.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.hr {
  width: 100vw;
  margin: auto;
  position: absolute;
  border: none;
  height: 1px;
  left: 0;
  background-color: #6666663a;
}

.logo {
  margin-right: 20px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  margin-right: 20px;
  transition: transform 0.4s;
}

.nav li:hover {
  transform: scale(1.05);
}

.nav a {
  color: #9295A1;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: bold;
  font-size: larger;
}

.nav a:hover {
  color: #007832;
}
