* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  width: 70%;
  margin: auto;
  font-family: "FutuLt";
}

@font-face {
  font-family: "FutuLt";
  src: url(assets/Fonts/FutuLt.ttf);
}

@font-face {
  font-family: "FutuLtIt";
  src: url(assets/Fonts/FutuLtIt.ttf);
}